services:
  - type: web
    name: sportyfanz-project
    env: node
    plan: starter  # or whatever plan fits you
    buildCommand: npm install
    startCommand: node server/index.js
    envVars:
      - key: APIFOOTBALL_API_KEY
        fromSecret: apifootball_api_key 
      - key: REDIS_URL
        fromSecret: redis_url

databases:
  - name: redis-database
    type: redis
    plan: starter



